# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.ConsoleAppJenkins.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\rados\RiderProjects\ConsoleAppJenkins\.idea\.idea.ConsoleAppJenkins\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
